<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comment">

    <insert id="insertComment" parameterType="com.koreait.mvc2.dto.CommentDTO">
        insert into comment (user_id, board_idx, content) values (#{userId}, #{boardIdx}, #{content})
    </insert>

    <select id="getCommentsByBoardIdx"
           parameterType="int" resultType="com.koreait.mvc2.dto.CommentDTO">
        select idx, user_id as userId, content, regdate as regDate from comment where board_idx=#{boardIdx} order by idx desc;
    </select>
</mapper>